<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Dodawanie Nowego Użytkownika</title>

<link rel="stylesheet" type="text/css" media="all"
	href="/resources/css/bootstrap-theme.css"
	th:href="@{/resources/css/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="/resources/css/bootstrap-theme.min.css"
	th:href="@{/resources/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="/resources/css/bootstrap.css"
	th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="/resources/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="/resources/css/core.css" th:href="@{/resources/css/core.css}" />
<style>
#nav_user {
	color: #ffff00;
}
</style>

</head>

<body>
	<div th:replace="header :: header"></div>
	<div class="jumbotron">
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Panel dodawania nowego użytkownika</h3>
				</div>
				<div class="panel-body">
					<!-- Formularz odpowiedzialny za edycje uzytkownika -->
					<form action="#" th:action="@{/add_user}" id="adduser" method="post"
						class="form-horizontal " th:object="${registerForm}">
						<!-- ID uzytkownika -->
						<div class="form-group">
							<label class="col-md-4 control-label"  th:text="#{add_user.email}"> </label>
							<div class="col-md-4">
								<!-- Adres e-mail -->
								<input th:field="*{email}" class="form-control email" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" th:text="#{add_user.password}"></label>
							<div class="col-md-4">
								<!-- hasło -->
								<input type="password" th:field="*{password}" autocomplete="off" class="form-control password" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" th:text="#{add_user.first_name}"></label>
							<div class="col-md-4">
								<!-- Imię -->
								<input class="form-control firstName" th:field="*{fname}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" th:text="#{add_user.last_name}"></label>
							<div class="col-md-4">
								<!-- Nazwisko -->
								<input class="form-control lastName" th:field="*{lname}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" th:text="#{add_user.birth_date}"></label>
							<div class="col-md-8 row form-group" id="line">
								<div class="form-group col-sm-2 birthday-form has-feedback"  style="margin-left: 0px; padding-right: px;">
									<input th:field="*{day}" class="form-control" placeholder="DD" maxlength="2"/>
								</div>
								<div class="form-group col-sm-2 birthday-form has-feedback" style="margin-left: 0px; padding-left: 5px; padding-right: px;">
									<input th:field="*{month}" class="form-control" placeholder="MM" maxlength="2" />
								</div>
								<div class="form-group col-sm-3 birthday-form has-feedback" style="margin-left: 0px; padding-left: 5px; padding-right: -5px;" >
									<input th:field="*{year}" class="form-control" placeholder="YYYY" maxlength="4" />
								</div>
							</div>
						</div>
						<!-- Przyciski cofania i zapisujący użytkownika po dodaniu -->
						<div class="form-group">
							<div class="col-md-8" align="right">
								<button type="reset" class="btn btn-default" name="back"
									id="back" th:text="#{universal.back}"></button>
								<button class="btn btn-primary" type="submit" id="register"
									name="register" th:text="#{universal.save}"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row"></div>
		<footer>
			<p>IO 2014</p>
		</footer>
	</div>
</body>
</html>